@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient( rgba( 255, 73, 73, 1), rgba(96,36,141,1)) !important;
    font-family: 'poppins', sans-serif;
    position: relative;
}

header {
    width: 100%;
    height: 12vh;
    background: #ff4949;
    box-shadow: 2px 2px 15px rgba(43, 3, 75);
    position: relative;
}

nav {
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul.nav-links {
    list-style: none;
    display: flex;
}

ul.nav-links li {
    width: 120px;
}

ul.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    position: relative;
}

ul.nav-links li a.active::after {
    content: '';
    width: 50px;
    height: 3px;
    background: #fff;
    border-radius: 15px;
    position: absolute;
    bottom: -30px;
    left: -5px;
}

/* Target the links and add pseudo class to it */

ul.nav-links li a::after{
    content: '';
    width: 0px;
    height: 3px;
    background: #fff;
    border-radius: 15px;
    position: absolute;
    bottom: -30px;
    left: -5px;
    transition:  all .2s linear;
}

ul.nav-links li a:hover::after{
    width: 110%;
}

#btn {
    width: 170px;
    padding: 14px;
    outline: none;
    border: none;
    background: #fff;
    border-radius: 30px;
}

#btn .fa {
    margin-right: 15px;
}

#btn a {
    text-decoration: none;
    color: #ff4949;
    font-size: 1.1rem;
    font-weight: bold;
}

/* Header End */

.content-wrapper {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.content-desc {
    width: 500px;
    font-weight: 400;
    color: #fff;
    position: relative;
    top: 50px;
}

.content-desc h1 {
    font-weight: 500;
    font-size: 2rem;
}

h1 span {
    color: #ffb904;
}

.content-desc p {
    font-size: 1.2rem;
    width: 500px;
    margin-top: 20px;
    line-height: 2rem;
}

#btn-2 {
    width: 150px;
    padding: 15px;
    outline: none;
    border: none;
    background: #fff;
    margin-top: 25px;
    border-radius: 8px;
    transition: all .2s linear;
    display: flex;
    align-items: center;
}

#btn-2 .fa {
    font-size: 1.2rem;
    color: #ff4949;
    margin-left: 15px;
}

#btn-2:hover {
    justify-content: space-between;
    width: 165px;
    background: #d3d3d3;
}

#btn-2 a {
    text-decoration: none;
    color: #ff4949;
    font-size: 14px;
}

.launch {
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.launch .fa{
    font-size: 4.5rem;
    background: linear-gradient( #ff4949,#5d248d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rocket .5s ease-in-out infinite;
}

@keyframes rocket {
    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

.hero-image {
    width: 440px;
    height: 300px;
    background: url(./images/Army.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    opacity: 0.5;
    margin-top: 40px;
}

.content-wrapper::before {
    content: '';
    width: 70px;
    height: 60px;
    background: url(./images/eye-cyber-circuit-future-technology-concept-background-free-vector.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 10px;
    left: -60px;
    border-radius: 60%;
    opacity: 0.8;
    animation: circle 10s ease-in-out infinite; 
}

@keyframes circle {
    50% {
        transform: rotate(-360deg);
        top: 400px;
    }

    100% {
        transform: rotate(360deg);
        top: -50px;
    }
    
}

/* .content-wrapper::after {
    content: '';
    width: 70px;
    height: 60px;
    background: url(./images/istockphoto-after.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 10px;
    right: -60px;
    opacity: 0.8;
    border-radius: 60%;
    z-index: -1;
} */

/* Section 2 */

.section-2 {
    width: 84%;
    margin: 50px auto 0;
    display: flex;
    color: #ffb904;
}

.cast-wrapper {
    margin-top: 30px;
    width: 500px;
}

.cast {
    display: flex;;
}

.cast-img{
    width: 50px;
    height: 50px;
    background: url(./images/cast-1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.img-2 {
    background: url(./images/img-2.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
    left: -10px;
}

.img-3 {
    background: url(./images/img-5.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    left: -10px;
}
.img-4 {
    background: url(./images/img-3.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    left: -10px;
}
.img-5 {
    background: url(./images/img-4.webp);
    background-size: cover;
    background-position: center;
    position: relative;
    left: -10px;
}

#number{  
    width:20px;
    position: relative;
    left: -35px;
    font-size: 0.875rem;
    color: #fff;
}

.social-icons .fa {
    font-size: 1.2rem;
    color: #fff;
    position: relative;
    top: 25px;
    margin-right: 25px;
}

/* .squid-game {
    width: 500px;
    height: 250px;
    background: url(./images/mizuri-squidgamemoneyheist-removebg-preview.png);
    background-size: cover;
    background-position: center;
    position: relative;
    top: -70px;
    left: -170px;
    opacity: 0.4;
}

footer {
    display: flex;
}

footer span {
    margin-top: 30px;
}

footer {
    margin-top: 25px;
}

.mask {
    width: 70px;
    height: 70px;
    background: url(./images/mask.webp);
    background-size: cover;
    background-position: center;
    margin-top: 15px;
} */

.hero-image-2 {
    width: 400px;
    height: 500px;
    background: url(./images/hero-removebg-preview.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 0;
    right: 150px;

}

.hero-image-2::before {
    content: '';
}


.squid-game {
    width: 500px;
    height: 150px;
    background: url(./images/mizuri-squidgamemoneyheist-removebg-preview.png);
    background-size: cover;
    background-position: center;
    position: relative;
    top: -90px;
    left: 200px;
    opacity: 0.7;
}
